#introduce_contain{
    width:100%;
    height: 100%;
    margin-top:64px;
}
.search_contain {
    width:100%;
    padding:110px 0;
}
.search_contain p.page_title{
    height:44px;
    font-size:32px;
    font-family:PingFangSC-Light;
    color:rgba(255,255,255,1);
    line-height:20px;
}
.search_contain p.page_lines{
    width:160px;
    height:4px;
    background:rgba(255,127,59,1);
    box-shadow:0px 4px 8px 0px rgba(255,141,0,0.5);
    margin:0 auto;
}
.search_contain p.page_description{
    height:24px;
    font-size:18px;
    font-family:PingFangSC-Medium;
    color:rgba(255,255,255,1);
    line-height:40px;
}
/* 头部 */
.introduce_contain_header{
    background:url(../img/Products_back.png) no-repeat center center;
    background-size:cover;
}
/* 第二部分 */
.introduce_contain_second{
    background:url(../img/Products_earth.png) no-repeat center center;
    background-size:contain;
}
/* 公共部分 */
.second_contain_list{
    width:100%;
    height:540px;
    padding:20px 0;
}
.second_contain_list ul{
    width:80%;
    margin:70px auto;
    text-align: left;
    text-align: -webkit-left;
    text-align: -moz-left;
    text-align: -ms-left;
    text-align: -o-left;
}
.second_contain_list ul li{
    float:left;
    margin-left:190px;
    height:300px;
}
.second_contain_list ul li.first_li_list{
    width:360px;
    margin-top:100px;
}
.second_contain_list ul li h3{
    height:44px;
    font-size:32px;
    font-family:PingFangSC-Medium;
    color:rgba(51,51,51,1);
    line-height:44px;
}
.second_contain_list ul li .second_lines{
    width:96px;
    height:2px;
    background:rgba(255,127,59,1);
}
.second_contain_list ul li .second_description{
    text-indent: 2em;
    margin-top:20px;
}
.second_contain_list ul li.second_li_list{
    position: relative;
    width:360px;
}
.second_contain_list ul li img{
    position: absolute;
}
.second_contain_list ul li img.img_first{
    top:50px;
    left:0;
}
.second_contain_list ul li img.img_second{
    top:106px;
    left:281px;
}
.second_contain_list ul li img.img_third{
    top:250px;
    left:0;
}
.second_contain_list ul li img.img_fourth{
    top:268px;
    left:281px;
}
.second_contain_list ul li img.img_fifth{
    top:16px;
    left:108px;
}
.introduce_contain_third{
    background:rgba(243,248,255,1) url(../img/Product_dataline.png) no-repeat center center;
    background-size:contain;
}
.second_contain_list ul li img.img_first_two{
    top:50px;
    left:10px;
}
.second_contain_list ul li img.img_second_two{
    top:112px;
    left:390px;
}
.second_contain_list ul li img.img_third_two{
    top:238px;
    left:-36px;
}
.second_contain_list ul li img.img_fourth_two{
    top:300px;
    left:380px;
}
.second_contain_list ul li img.img_fifth_two{
    top:104px;
    left:30px;
}
.second_contain_list ul li .second_lines_change{
    width:224px;
}
.introduce_contain_fourth{
    width:100%;
    height:540px;
    background:url(../img/Product_thirdback.png) no-repeat center center;
    background-size:contain;
    padding:20px 0;
}
.second_contain_list ul li img.img_first_third{
    top:30px;
    left:110px;
}
.second_contain_list ul li img.img_second_third{
    top:145px;
    left:440px;
}
.second_contain_list ul li img.img_third_third{
    top:210px;
    left:40px;
}
.second_contain_list ul li img.img_fourth_third{
    top:340px;
    left:350px;
}
.second_contain_list ul li img.img_fifth_third{
    top:104px;
    left:80px;
}
.second_contain_list ul li .third_lines_change{
    width:128px;
}
/* 关于我们 */
.about_contain_header{
    height:300px;
    background:url(../img/aboutus_back.png) no-repeat center center;
    background-size:cover;
}
.about_contain_third{
    height:540px;
    background:rgba(243,248,255,1);
}
.about_contain_environment{
    height:540px;
    background:url(../img/aboutus_workplace.png) no-repeat center center;
    background-size:cover;
    padding:225px 0;
}
.about_contain_nowadays{
    height:540px;
}
.about_contain_nowadays .page_title, .about_contain_nowadays .page_description{
    color:rgba(51,51,51,1)!important;
}
.about_contain_nowadays img{
    margin:20px auto 0;
}